body{
    background-image: url(background.png);
}
html, body{
    height: 100%;
    margin: 0;
    user-select: none;
}
.buttons{
    background: linear-gradient(#ffa600, #ffff00);
    height: 35%;
}
#button1, #button2, #button3{
    background: linear-gradient(#0000ff, #00ffff);
    color: white;
    cursor: pointer;
    width: 20%;
    transition: 0.3s;
    font-weight: 900;
    font-family: Arial;
    font-size: 100%;
    border: 3px solid #b800be;
    border-radius: 5px;
    height: 20%;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}
#next{
    opacity: 0;
}
.game{
    text-align: center;
    height: 100%;
}
.text{
    color: #fff;
    font-weight: 900;
    background: linear-gradient(#ff0000, #d200f7);
    font-family: Arial;
    text-transform: capitalize;
}
body{
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}
.back{
    background: lime;
    text-decoration: none;
    font-family: Arial;
    font-weight: 600;
    color: #000;
}
.gold{
    width: 20%;
    height: 50%;
    filter: brightness(130%);
}
.blue{
    width: 20%;
    height: 60%;
    filter: brightness(130%);
}
.silver{
    width: 10%;
    height: 40%;
    filter: brightness(110%);
}
.bronze{
    width: 10%;
    height: 30%;
    filter: brightness(130%);
}
.bal{
    position: fixed;
    filter: brightness(130%);
}
.img_container{
    width: 100%;
    height: 35%;
    justify-content: center;
    display: none;
    align-items: center;
    position: absolute;
}
@media only screen and (max-width:500px) {
    .back{
        display: inline-block;
        width: 50%;
        font-size: 20px;
    }
    #button1, #button2, #button3{
        width: 50%;
    }
}